# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/

# Secrets & Credentials
state.json
service_account.json

# Images temporaires
temp_images/

# IDE
.vscode/
.idea/

# Playwright
test-results/
playwright-report/

# Leboncoin Automation Specific
state.json   # <--- TRES IMPORTANT : Contient vos cookies de session (Equivalent mot de passe)
*.log
screenshots/
